<div
    style="background: #f3a530; padding: 25px; color: #ffffff; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; text-align: center; width: 738px; margin: auto;">
    <a href="https://www.speedtradings.com/">
        <img height="384" width="512"
            src="https://lh3.googleusercontent.com/dfZWpvLwy4MOFIf4dgo4BPe_BpUiapi-Npu-eDfKUYJyAhQ7enxHdfogW94vY7H37w6m9WcscYLwCaJBfEHtBKD8TvMisNhbTAE9x5HD_FwNTCzi84S0XEB6B10V35TFdEHn9ESsTQD1IQQLADtEjR7WoNV9y3S0Ow01N8hz9XHZgkr8eZbCCgQCJAWOvyw5ELntD9FuMB-8fx4wt5-dSaAQRbq3R7nT8Gy40bPGRwSYqvlEwnya_WeBNc-VWdoVJ2euqCYCzDutW0SrOABWfVhHrgTCsfaG4asszVPFSLO841Zr3TcCiWo0Erd_Uk3nKR2mOPkc9ExlC2w3c41or3igjBrCPR0iaG7apQaFgiSQl4RoWO_Xn0yJl-OyOXetVDDinP7P8Ip9OTI_Pi2KApcrKPPTdaOw65Xe7yqwxWLigwIXKS3obPyGHCzaeRtFP68E8XbhaPItRUsE_ZAS9PzfZXcFCWu2dHBSTGbKt2bO3R5a-J91LqQWLw6uN2YDWMb7xwJEl8l1e-WDEgHILldIeULK_WKpbZ-t9Ch8w-14S3iPHFSwrTcC6NDeYzDFkrC4uM2qIrV0E9BJ42bS-LpB_A8kRFXPPxEKfm-zmPx7fBaac39boo5SmHWtdlsgJ91Nyab3MunefKZsB8kmRT0aKZehxczBqi8qu8VXlcPbqB3o_WP37JLDff9Ar9tG8H7mqQ=w1600-h784-ft" />
    </a>

    <br />

    <p style="color: #232e3f; font-size: 24px;">
        La ${type} de tus criptomonedas se ha realizado con éxito!
    </p>

    <div
        style="padding: 25px; background-color: #232e3f; margin-top: 10px; border-radius: 10px; font-size: 18px; color: #f3a530;">
        Hemos enviado a tu wallet la cantidad de ${amount} ${symbol} a la wallet suministrada, puedes
        verificarlo en tu wallet. ${hashType}: <b>${hash}</b>
    </div>

    <br />

    <p style="color: #232e3f; font-size: 24px; font-weight: lighter;">Saludos, Equipo de AlyExchange.</p>
</div>