<div
    style="background: #FFF; padding: 25px; color: #000; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; text-align: center; height: 100%;">
    <a href="https://www.speedtradings.com/">
        <img width="512" height="384"
            src="https://lh3.googleusercontent.com/mFIjQtjbarGISCnIqDl1UHDHpyelc4YFHBQ_hCTbxua12udujrjtFwHsYOvbX169IvVvYilySxL2eOCv64uvVQhBtxISzjrzgC3hrNjArcPn2dCAT5cREG4eYC1OTrqNLeJVbNm_kLRMMBWLOpz3AzBesW1tQktOxPt89dRjN-OFkD1vkw0lKgZGGbPnJ4w1cHY6CLigiS3U3mwM0coNooN5sl529dwvDpgOw5d-_wPnOj1B2YMdQ_eELVMFCXj47q4PV0JyJgyglNvUaaFlYmOKAQ2YQtvzAJTo6plhRH5v2nIsfSdR2rz3Hpaou8nEmQm-8i7yJADEuzhTH-Ts0SJmyT3G7m5oSXgV1acTArQ9c3xtuRyqcBOaTa_9Zzulm3Vh327YTUc590Y6DJ1vgGBl90-3H1D5kEcMsfH6hBetKegXkUOFWsF_vqwINq-UBDWh7m245Vq-tm4LtSd8iAvzQtk0O-tvBY-qDef4VtWxylyenQTvjYPZVggUjtlWmDBqMOPbtrc7aoZDpJQ9ETpSpnZsD-v1CVKLml-jw22YUKYyt9g3hULllQMBJdPl0liE30Iur2NPoDJZGyid8GOYZaZBMUwhXrWU1lfATwvYMMQwzvzQOhpvgAv7QiXy0vRc1dgLjXBEiitjtq3TUg3eDWSyaqq6eY7qw93cqZMNku2LV2CM4yZCtyRaNm3crll9Ew=w1600-h780-ft" />
    </a>

    <br />

    <p style="color: #176294; font-size: 24px;">
        Le informamos que su compra de ${amount} ${currency} se ejecuto exitosamente
    </p>

    <div
        style="padding: 25px; background-color: rgba(0, 0, 0, 0.2); margin-top: 10px; border-radius: 10px; font-size: 18px; color: #232e40;">
        <p style="text-transform: uppercase;">
            <b>hash de transaccion: </b> ${hash}
        </p>
    </div>

    <br />

    <p style="color: #232e40; font-size: 24px; font-weight: lighter;">Saludos, Equipo AlySystem..</p>
</div>