<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body style="padding: 0; margin: 0; background-color: #161616; color: #FFF; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 768px; margin: 0 auto;">

        <table style="width: 100%;">
            <tr>
                <th style="width: 20%;">
                    <img height="auto" width="128"
                        src="https://lh3.googleusercontent.com/XtcodcoWRFK2wQXbDEv6q6RJ26lHZHuSBEn3yBkpzh2dmuWZc546Mm128xdoTjtFIEWUVFp2DjFSB4Bfz44wSfD17QqpogYvq8UBRHtLWb9DZuD9qziilG_J8pEOwigJKfM85zLmWZKR825axHJuR49JD_Q499xq7bgc_2-UjiQI97OdFh-pGgN8jbhmepRHhUmazh_WC3BuZBcw70VSpJGDOBd8Qbqtl0jyDWcT-yUTl3chpl45DmHEwhB0F3updv61LRm96Vz9GRD1EM3ftmzKbAET_M3SON_5QNinYlMH20oqJsmvQ-wBlXiLoDssrlKu-QgvfVaYdQD4l4_9pnqOUzqeRzpIwEMbPMq21MS96ySQVottkdT2aV5ViqOXKvCGhgi0rcBMgEhdhOO7N7X467ohDH26hLgL7gv9XV-VhClkv4X5zn1ykbda2Mpx7ZrwG3LroS3Qxb1xt7J3YyS5uA_7VXoUIlmRW1tijC-itvyVyS5BK4skiazCJIedvWbEFEes1IoGw3BW0YHv6LjC-peUV7CiB2Fib4b79qwxrIdGYOv4UN9dHYHCV4QHaEFe4wb8NMRpTrbO8Et-5vn7mxL2aQn7IziZr-3hra2E5CboMxYrYhMTiXAnEmMTFr3Q4G3ywafX96q4qBIQlF8PHhs6cDciS4NHMKu1CMqOX9c3n66WlLapannN0j02aYF-NA=w1600-h828-ft" />
                </th>

                <th style="text-align: right">
                    <span>Comisión por referido</span>
                </th>
            </tr>
        </table>

        <hr />

        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="width: 100%;">
                    <p style="font-size: 24px;">
                        Estimado/a ${name}.
                    </p>

                    <p>
                        Le informamos que hemos acreditado a su wallet el ${percertage} % <b>(${comission_amount} ${symbol})</b> por comision.
                    </p>

                    <p>
                        <b>HASH:</b> ${hash}
                    </p>

                    <p style="background-color: black; padding: 20px; text-align: center; text-transform: uppercase;">
                        <b>Referido:</b> ${nameRefer} - <b>Monto de inversion:</b> ${amount} ${symbolRefered}
                    </p>

                    <p>
                        ¿Quieres más información o realizar otra inversión?
                        <a style="background-color: #ffcb08; color: #161616; padding: 5px; border-radius: 25px; text-decoration: none;"
                            target="_blank" href="https://dashboard-speedtradings-bank.herokuapp.com/">Pulsa aquí</a>,
                        ara acceder a nuestro sitio web.
                    </p>

                    <p style="font-size: 12px; color: #ffcb08;">
                        Saludos, Equipo AlySystem.
                    </p>
                </td>
            </tr>
        </table>

        <hr />

        <table style="width: 100%">
            <tr style="width: 100%;">
                <td style="width: 100%; padding: 8px 0; padding-bottom: 16px;">
                    <span>Tambien puede interesarte</span>
                </td>
            </tr>
            <tr style="width: 100%;">
                <td style="width: 100%; padding: 0 16px;">
                    <div style="display: inline-block; float: left; margin-right: 32px;">
                        <a style="display: block; color: #FFF; text-decoration: none; "
                        href="https://play.google.com/store/apps/details?id=com.alypay&hl=en" target="_blank">
                            <img style="border-radius: 10px;" width="85"
                                src="https://lh3.googleusercontent.com/fife/ABSRlIoGxa9qXoPh7x5SQqjMCV8DlrXK9fryF04wXVmdUU_v9wR8KVxfRnpSPIV0tF0QWR4HdTfnT8ZYjcIbQN3OsRqHNCbjIGn99M00oQnfrZvttBklqfyVJWoBLXpByaK8mvJdWLs3frIw35O-_NIT-YjxW6pHwA18AyaB1TGYI-iceJRxOVx6flKHo9kKKaHyI85KlOlDi1GnVOltPmYnM5JrJs5lixtv9nrBNMGxfo9Zy-HT1jvjj4jAiEy5Phms5vqq89Ju9b4ccaDWHQV0eu12Wp_UefX0SseqvzxXZ6l1nm-OYiLT9Ieqr2YXl7xS_uKZArOpWGHDIyOfiLw1Wy4f5V6gPfghIpS0p1TBhrFOIcStLjwz0yOQmW3AvQyJQM78bGlmdxlsdHkJecadxL1dIH9p_i7JFy082o4-ojJFHLbUtQUkUUFXIzEuf_LdMjn5BvnmMTEHNt_p17yhmO_zV9dSEs5j2y__TAS2X9KSo-JuvDkEdL8_rJH9T21qJcIWdLLJ5oqrQX_1qv8RjBpd_fha04d-v7xQ8K7d_OxL1QJd1kyWOOruUOFWtiXG3apZB36TVdc_r27boscsunuACwavHi5qhJXRhGTJCBWW1KLh6X3pS3zOc96xS9s8YcLpiQGxgTrdmy_f13Pm6gOPYYdqG_0HBgQuddPtnYdH_TMBhZ4O-WRq-2bxbpGpYLmFl3rCzEwWWtyKI081K8tFdbWtbFHq3Zo=w1920-h1001-ft" />

                        </a>
                        <span style="display: block; text-align: center; margin-top: 10px;">AlyPay</span>
                    </div>

                    <div style="display: inline-block;">
                        <p>
                            Visita nuestras <span style="color: #ffcb08;">Redes Sociales</span> y <span style="color: #ffcb08;">comparta su experiencia.</span>
                        </p>

                        <div>
                            <!-- Whatsapp -->
                            <a style="display: inline-block; margin-right: 8px; text-decoration: none; " href="https://wa.me/+50660727720" target="_blank">
                                <img width="35" height="35"
                                    src="https://lh3.googleusercontent.com/fife/ABSRlIquN6Yh0QieJasLIMCbgrsY8nkmfSbTPQkdtUgvFMZ5aplxysLoibYkjBCXaGpZZuPXcHeQmWaVyKVAIJRInpMqG0O6bSwNVQVOGebTZdwLc1M3sL4XRVKoQNtkoTwyIzC-W7zJBEV-fWZRhYhMR1sv5HluNnL3sUcM2It6n1Dx4KKHWbPUSCGdtdauV5bxJL3cBOrdKx2k4_aXQPW4Afhf4jYUl3gwChozig3Ozwbo_VU0IgnLB1SSuvWvuCbr9psIpWTY7drSOkW1y7AQTrqOM7_a3tGmAtdmqyQk5PfiQraHcMcZDzd3MjMwxUhTwaR5asBaLsP2Gb45Y8nqlbNle732BdkMoAjp_kwhHZ0gKZInWVzu72JapeWYZf3bQnOG5Cl6k-DJdQrcXWJBvFdxp253XKcb0FAyAiY4NI8wvITITCckxT_tYulcaSHfcumxDXz-urvv69E1PRX5Gd4f_QViihHed53Fus9zjhih-yqPJgxYNPQj6wmi0HmYrkigQXLxnApJBHWHWFC1DQzWzKs_92VkbWXZAS8F5GEseRpnO91QOHuJOpnWOXAVqRgv4RqA0AKpN4WDTp5hq8wMvqpw3bp3Ok-bjGPqpl2PFo_t97QKOQo6_cLvRcyMUpIItIywqRJ8FR-nuomEbKYYtipkQ3YVNEn6zYtzDGj6780duow6TIOoIUGrbPEracRZv0sNA83xKqpuxhGAf0v0G1zeWBow6_w=w1238-h1001-ft" />

                            </a>

                            <!-- Instagram -->
                            <a style="display: inline-block; margin-right: 8px; color: #FFF; text-decoration: none; " href="https://instagram.com/alysystem_1?igshid=1gbeiyxfj3i68" target="_blank">
                                <img width="35" height="35"
                                    src="https://lh3.googleusercontent.com/fife/ABSRlIpJ7zZ4nKsw_zgONwWllvAF-MMsHFOe-Du6zOPoGlu-qwkPDOWjNlD0GZN8XXE1g8rpARpO38zb6LMJZLyAbNgW1elMZczS4YYp7-3bOaG7OU7tAbdvbedoYDmmh0tdPO4LJxOhzHNEOUB7r9wzSZSAWbVDKn7g_-SgEmq7AcXt8oCrPD_JyLLSr1dva4q59d9iH4sxuOIawwep5Yl4kYafGdNCTknaYujGOOqv7oaqMyb9PSjgXK1q9PtIHC70PE-4jJuVUBwxmiG3_IU21Rq2JWH2b-ps9-QentGucko2Hft56dMU9dwVc2lRPuS0R-DQk7QdzmtmTSNr9wL20m21gjEr9uP8ILore7MqqaNFrCxwk0ZXCoqD943d9b3o-D_TZyzwKz5j7vRQ2ooHJ6xJQPMnL2Dbn0rvDnMyfv9nLdgOdLV1d4j7fwYFRs_O_XDFE8qCz05FJXge4c8i8noBNEhN0huX37xOXtAF97d4pY_zYJI-yznTT2jq36LT2uVvujMHH01_MXJZCTfmsjN3DqgTupx2KdWNrdlRQPGMjhznkOSv_82QtVFEXHiUTqODtybx8F3FlC62ChjCT1F5zWiT20TV2dj_86acaPK-4G3meJX3pxAmeoeY0RJZn1U9GLYWMZiAxOeIfaRwg92_aI6I7ljw-VcDeCO6Ml3JIcVmaqjVGdLdUBFlu2Gjh4lhzpyZjJ6PlWZ482u9KhNQLSUrohYvBzI=w1238-h1001-ft" />

                            </a>

                            <!-- Facebook -->
                            <a style="display: inline-block; margin-right: 8px; color: #FFF; text-decoration: none; " href="https://www.facebook.com/AlySystemOficial/" target="_blank">
                                <img width="35" height="35"
                                    src="https://lh3.googleusercontent.com/fife/ABSRlIqjf-cjNB8F-Ap-TIhWPGAMxXEcnVTnLNZ4WktZYsvpICHeXws7oiFb0986u46oKozy7JySlCCLJvOmpbfZbkX6r-Qw4JFmJaSlXkYwxr_PBAlOIqoMGklUClemZ9fBi86HvVjXLgc22-yfEdeDoJEZv1TAh3CVrIPxHnux5r1Pjv-PN3VJP5VLcn-NcrnOSN2dRGKvsFVhGrZvjzY2UAQc3mlBGukHPKmQSaPkmjLs5LPPScRai9OAIG18TQf-y_FxQu0r8svgTueMC9TjibQ_al1ijZYqCnzmWgZb0Xnyv0qegZO8BAMyjvUD3_yI-eOUPq-ky24Z33ZlCi-oBJBG3iGlTkb8rEd4SYtpA7AkPuQtGzRu9V_75fRZnkb-Nt41GJw4ejrQsI4CjXa_QRg7kVy1ffevXUMOqlrpYJo5-lWv1WvJoW5PEha4RjR57DH79H54NOqNhnCqOBZAl-TfvZcEkJIl5Q9hCYSEFjw0LtXLwKLEl-lNjAumMxUWp16IaCT8E6Q5jYyoBmr9TnESHaVqlXgE76BADQcQvIT4x0vqTzBRUBpQv-bsbAHkW_QRVswSPzJ6ZQItgN_NTd3wct5U6pTZZMOXf2Sj5KEz8YtCZvbGbp88OWzO1n2HBOXXndqrPB2PHTo_KIF5Mmq7s40--kcj2A3Tt7Sm7Io1DGKagmnE6owjJGrbxxWznfDrq4vhfhHxHSt1oQgvXpJobF6g5op5Eys=w1238-h1001-ft" />

                            </a>
                            
                            <!-- Twitter -->
                            <a style="display: inline-block; color: #FFF; text-decoration: none; " href="https://twitter.com/AlySystem_1?s=09" target="_blank">
                                <img width="35" height="35"
                                    src="https://lh3.googleusercontent.com/fife/ABSRlIqXKO8nvhFced1FH7Zh6JOOfHiK28aRHagxJFiXvOmWPKvji1IKOXC8S9-vaTUlNMsyflE5WI6GFdaT8jfK4JgMPSB59Ihqk5A4SvAYvSA2Fxywp21kfloGhMv7h24DAWTTRTL7LLb31gOlq3xgvCQRwmnD9q6zSlrbh64y5sqUY0w1M4C693kWzs8H7k1yvIg7_OxGtaomuyQY6H1sKm4feZQi0s-CZDJzesZGfmkluOGc8-RMVn55FgavziZeKY14-6dZp8CTZD6i4nXd_8rgzgP11vnPJmIIuEs8sPQI3bFicmgXs2O5TrlZX1B19SnSgC6HhfWBvsO16hqeB74wvGsgBE9M1lBq6adkiMGJQCITHu0io8syk4-lvYyrpbMbjS16MdqEGpCUVhi2KQI0Gd4x26VXfrq9rH8cEkHdvCDW_KKdOqsmEpNKDjG7zhUHRL8UobxiFXNN_9lJYHVYpQB-NQKbqQmgjomCHEM6e0iVon0k-0nFAERC-tZVS1G9JS1CYX5SgdLNjW4kMppIqshDWzKIyJKrM4DWt2qV4XVB0D7op5mlERCmrOTRvWfkaEEFaFU1iYbBqB1YlIpuFaCpsL8t99kcFiOtOR_Ucal2z_vaWFJz6w-_EN7mYYA7prE3xP32KWtt0VV9LdEIl__ISggfoiI4GVXaftubDPOuP_CHM5HKNLyF2Vw4d58ogln4CNgtRtmtIgaJJDA_BtetGAGb6FU=w1920-h1001-ft" />

                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <hr />

        <p style="font-size: 12px; padding: 25px 0;">
            Este mensaje es un servicio de Speed Tradings Bank, en caso que reciba un reporte o notificación que usted no ha realizado, 
            por favor escriba inmediatamente a <a style="color: #ffcb08;" href="mailto:soporte@alysystem.com">soporte@alysystem.com</a>
        </p>

    </div>
</body>
</html>