<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <img alt="AlySytem"
        src="https://lh3.googleusercontent.com/fife/ABSRlIr9oeSCgVCbdQNimGAJBQ29h_P0PyZ4fb5NiViVd6Cq7Fc734OCJnYPcduhfUpGpxL9dvN1Am5V7YrVCxG-HAS2NC2NI_X0huXl6wl3VqIsrN-6nB6k9lGs5rRDpHAF9Vvrdl0wyeSI8l9t93mK4P-ArvEzTXAR8_NmEu98GpaIjC052LnEQAWUzC5NvHsYlNIVTFCPtvfEgHr0pTNVNYMNi4pkBIAW0CSmghg9D0864_y4DbzHd1uR8t4gWIvrKOY3opHtysIa_ReMmuf6_6wNIZ-AhasDSLLEnuyGghAjqGK7DN-YXxQUQuVsN0aQmZMdzpV3MrmFuYJeG9LlTwkJsBYTfEIbIOgnCVYsl7Ids3TkcMEttELYGIpfX2K4qnXn5sxkZLO8AnD1NN8xBaWITPwl9F9GemYUpj-jO-pJR_2H5yBwxDlvQFw1rkH-A527IXsZvJ7IDeW1bvXmnJIyQfwujIp13vvlCjk0LsIC5HXOmB9jQzXK7UQ2ifCKQMqQzNwBnDLnVvN5YUNdaMIrj9UlozrIVtbrmTipeHefdPkQndOzzXEnB6LAM4lbGGYcrq413ATVg5Rn7gK-3jQyMsIK7qUZz578klUhFD4KF_7NHev-X9x9SJKfy5HsCbcJXRPGQCjNaYTehWinJxO38ggUzxKhhDGydhJa-C2LfNUP1jhd1q7zCEUNBv4f5k7COalRl-oTnsNjWXtRUKtN2tcY2tf0KBE=w3840-h2242-ft" />


    <p>
        ${text}
    </p>


    <style>
        img {
            width: 256px;
        }
        
        body {
            background-color: #161616;
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: clamp(1rem, 2vmin, 2rem);
            text-align: center;
            margin: 0;
            padding: 25px;
        }
    </style>
</body>

</html>